<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="TemporaryRootRedirectToSystem" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^(www\.)?kasmirhome\.me$" />
          </conditions>
          <action
            type="Redirect"
            url="https://system.kasmirhome.me/{R:1}"
            appendQueryString="true"
            redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
