@using Inventar.ViewModels.Login_Register
@model ForgotPasswordViewModel

<div class="row" style="margin-top:2rem">
    <div class="col-md-4 offset-4">
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email" style="margin-bottom:0.5rem"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:0.5rem">@Inventar.Resources.Resource.Submit</button>
        </form>
    </div>
</div>