@using Inventar.ViewModels.Login_Register
@model ResetPasswordViewModel

<div class="row" style="margin-top:2rem">
    <div class="col-md-4 offset-4">
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Token" />
            <div class="form-group" style="margin-bottom:1rem">
                <label asp-for="Password" style="margin-bottom:0.5rem">@Inventar.Resources.Resource.Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom:1rem">
                <label asp-for="ConfirmPassword" style="margin-bottom:0.5rem">@Inventar.Resources.Resource.ConfirmPassword</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:0.5rem">@Inventar.Resources.Resource.ResetPassword</button>
        </form>
    </div>
</div>